<!DOCTYPE html>
<html lang="fr">
<head>
<link rel="stylesheet" href="/media/css/style.css" />
<title>Mon blog sur les crêpes bretonnes</title>
    <style>
        h1{
        color : #fce300;
        border : solid red 1px;
        }
        .story{
        width : 300px;
        border : dotted black 2px;
        font-size : 16px;
        margin : 20px;

        }


    </style>
</head>
<body>
<h1> Well people it's my fisrt image</h1>

<div class="story">
    <h3>{{last_stories.title}}</h3>
    <p><b>the summary :</b> {{last_stories.summary}}</p>

</div>

<p> She hasn't written anything yet.</p>



</div>
</body>
</html>